

.text-field {
    -fx-font-size: 15pt;
    -fx-font-family: "Fixedsys Excelsior 3.01";
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-control-inner-background: blue;
}

.text-area {
    -fx-background-color: black;
    -fx-control-inner-background: blue;
    -fx-font-family: "Fixedsys Excelsior 3.01";
    -fx-font-size: 18pt;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 5;
}
