

.text-field {
    -fx-font-size: 18pt;
    -fx-font-family: "Consolas", monospace;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-control-inner-background: #fff;
}

.text-area {
    -fx-background-color: black;
    -fx-control-inner-background: black;
    -fx-font-family: "Verdana";
    -fx-font-size: 12pt;
    -fx-padding: 5 5 5 5;
}
