

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-control-inner-background: palegreen;
}

.text-area {
    -fx-background-color: powderblue;
    -fx-control-inner-background: aliceblue;
    -fx-font-family: "Verdana";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
}
